<div class="container-fluid page white-bg">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Welcome to my playground!</h4>
        <p>This page will contain frontend development stuff. Will keep this updated! :)</p>
      </div>
    </div>
  </div>

  <div class="container white-container">
    <div class="row">
      <div class="col-md-12">
        <h3>Basic Elements</h3>
        <h6>Switch</h6>
        <iframe height='265' scrolling='no' title='Switch' src='//codepen.io/chiedevdimla/embed/NEvjYz/?height=265&theme-id=0&default-tab=css,result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/chiedevdimla/pen/NEvjYz/'>Switch</a> by Chie Dev (<a href='https://codepen.io/chiedevdimla'>@chiedevdimla</a>) on <a href='https://codepen.io'>CodePen</a>.</iframe>
      </div>
      <div class="col-sm-12 col-md-6">
        <!-- <h6>Button</h6>
        <iframe height='265' scrolling='no' title='Switch' src='//codepen.io/chiedevdimla/embed/NEvjYz/?height=265&theme-id=0&default-tab=css,result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/chiedevdimla/pen/NEvjYz/'>Switch</a> by Chie Dev (<a href='https://codepen.io/chiedevdimla'>@chiedevdimla</a>) on <a href='https://codepen.io'>CodePen</a>.</iframe> -->
      </div>
      <div class="col-md-12">
        <!-- <h3>Bootstrap 4 Components Redesigns</h3> -->
      </div>
      <div class="col-md-12">
        <h3>buttons</h3>
        <h6>Buttons</h6>
      </div>
      <hr>
      <div class="col-md-12">
        <button class="button">button</button>
        <button class="button-2">button-2</button>
        <button class="button-3">button-3</button>
      </div>
      <hr>
      <div class="col-md-12">
        <button class="button-4">button-4</button>
        <button class="button-5">button-5</button>
        <button class="button-6">button-6</button>
      </div>
      <hr>
      <div class="col-md-12">
        <button class="button-7">button-7</button>
        <button class="button-8">button-8</button>
        <button class="button-9">button-9</button>
      </div>
    </div>
  </div>

</div>
