<div class="container-fluid page white-bg">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Chord Diagram Generator</h3>
        <p>A simple guitar & ukulele chord diagram generator</p>
      </div>
    </div>
  </div>

  <div class="container white-container">
    <div class="row">
      <iframe width="100%" height="600" src="https://musictools.chiedimla.com/chord-diagram-generator/" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>
