.wrapper{
	position: relative;
	display: block;
	margin: 0 auto;
	font-size: 0;
	width: 100%;
	max-width: 1050px;
}
h1{
	font-size: 18px;
}
@media screen and (min-width: 1200px) {
	#nav{
		position: absolute;
		top: 20px;
		width: calc(20% + 20px);
	}
}
#nav .textbox input,
#nav .dropdown select,
#nav .dropdown select option,
#popup .textbox input,
#popup .dropdown select,
#popup .dropdown select option{
	font-size: 14px;
	height: 40px;
	border-radius: 5px;
}
#nav .textbox,
#nav .dropdown,
#popup .textbox,
#popup .dropdown{
	max-width: 200px;
}
#content{
	padding: 20px 0;
}