/**
 * Portfolio Stylesheet
 */
q {
    quotes: "“" "”" "‘" "’";
    display: block;
    text-align: center;
    padding: 1em 0;
    margin: 0;
    color: #555555;
    &::before {
        content: open-quote;
        font-size: 400%;
        color: #cccccc;
        font-family: initial;
        vertical-align: middle;
        line-height: .75em;
        padding-right: 10px;
    }
    &::after {
        content: close-quote;
        font-size: 400%;
        color: #cccccc;
        font-family: initial;
        vertical-align: middle;
        line-height: .75em;
        padding-left: 10px;
    }
    +q {
        margin-top: 1em;
    }
}
table {
    margin: auto 1em;
    tbody {
        tr {
            th {
                color: $primary_color;
            }
        }
    }
}
div.tags {
    line-height: 3em;
    margin: 2em 28px;
    code.tag {
        font-size: calc(100% - 5px);
        padding: 2.5px 4px;
        border-radius: 4px;
        margin: 0 3px;
        vertical-align: middle;
        word-wrap: break-word;
        font-size: .75em;
    }
}
.portfolio-card {
    // background-color: rgba(0,0,0,.5);
    color: #FAFAFA;
    // padding: 3em;
    width: auto;
    max-width: 400px;
    margin: auto;
    p {
        margin: 4em auto 2em;
        text-align: center;
        max-width: fit-content;
    }
    .logo {
        @include transition(.5s);
        margin: auto;
        .SVG-Logo {
            @include transition(.5s);
            width: 100%;
            padding: 2em;
            margin: auto;
            
        }
    }
}
@media only screen and (min-width: 991px) {
    .portfolio-card {
        .logo {
            .SVG-Logo {
                &:hover {
                    @include transition(.5s);
                    width: 95%;
                    // margin: auto auto 5% auto;
                }
            }
        }
    }
}

// .parallax-container {
//     height: 100vh;
//     overflow-x: hidden;
//     overflow-y: auto;
//     perspective: 2px;
//     .parallax {
//       position: relative;
//       height: 100vh;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       color: white;
//       text-shadow: 0 0 5px #000;
//         &.bg1::after {
//             background-image: url('/assets/images/polygon_bg.jpg');
//         }
//     }
//     .parallax::after {
//       content: " ";
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       transform: translateZ(-1px) scale(1.5);
//       background-size: 100%;
//       z-index: -1;
//     }
//     .parallax img {
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         transform: translateZ(-1px) scale(1.5);
//         background-size: 100%;
//         z-index: -1;
//     }
// }

/* Main Content */
#main-content {
    h1 {
        padding-top: 17px;
    }
    h2 {
        text-align: left;
        margin: 30px auto;
        color: rgba(250, 250, 250, 0.8);
        width: 100%;
        font-size: 1.5em;
    }
    h3 {
        margin: 30px auto;
        padding: 0 1em;
        font-size: 1em;
        color: #fafafa;
        font-weight: normal;
    }
    @media only screen and (max-width : 768px) {
        h2 {
            text-align: center;
    }
        h3 {
            color: #f0f0f0;
    }
    }
    .skills-container {
    /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            p {
                text-align: center;
            }
        }
        ul {
            list-style: none;
            /* Remove default bullets */
            li {
                &::before {
                    content: "\2022";
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                    font-size: 1.5em;
                    line-height: 1.5em;
                }
                    &.active::before {
                        color: #14ee43;
                }
                    &.silent::before {
                        color: rgba(255,255,255,.7);
                }
            }
        }
    }
    .container {
        &.overlap {
            margin-top: -165px;
            padding-top: 0;
            img {
                width: 100%;
            }
        }
        &.dont-overlap {
            margin-top: 165px;
        }
        &.overlap-half {
            margin-top: -50px;
        }
        @media only screen and (max-width : 768px) {
            h1 {
                padding-top: 0;
            }
            &.dont-overlap, &.overlap {
                margin-top: 0;
            }
        }
    }
    .post-cards {
        margin: auto;
        max-width: 1500px;
        .card-item {
            max-height: 300px;
            overflow: hidden;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 0;
            border: none;
            text-align: center;
            transition: .2s;
            -webkit-transition: .2s;
            @media only screen and (min-width : 769px) {
                &:last-child, 
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
            @media only screen and (max-width : 768px) {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            img {
                width: calc(100% - 30px);
                height: auto;
                margin: auto;
                transition: .5s ease;
                border-radius: .5em;
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: calc(100% - 30px);
                margin: auto;
                opacity: 0;
                transition: .5s ease;
                background-color: #2ACAEA;
                border-radius: .5em;
            }
            &:hover{
                img {
                    opacity: .5;
                }
                .overlay {
                    opacity: .8;
                }
            }
            .text {
                color: white;
                font-size: 1.25em;
                font-weight: 800;
                position: absolute;
                top: calc(50% - .75em);
                left: 5%;
                right: 5%;
                // margin: auto;
                text-align: center;
            }
        }
    }
}

/* Social Media Icons */
ul.social-media {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
        padding: 0 7px;
        a {
            @include transition(.5s);
            font-size: 1.75em;
        }
    }
}