<div class="page-banner parallax-container">
    <div class="parallax">
        <img alt="polygon-background" src="./assets/images/polygon_bg.jpg" style="transform: translate3d(-50%, 381.323px, 0px); opacity: 1;">
    </div>
    <img alt="" class="img-banner" src="./assets/images/banner.png" />
    <h1>{{title}}</h1>
    <p>Hey fellas!</p>
</div>
<div class="container page black-bg overlap">
    <div class="row">
        <div class="col-md-4 overlap">
            <div class="display-picture">
                <img src="./assets/images/display_picture.jpg" alt="Raycille Dimla">
            </div>
            <q>I keep doing things on the web. </q>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width: 40%;">Name: </th>
                                    <td>Raycille Dimla</td>
                                </tr>
                                <tr>
                                    <th>Location: </th>
                                    <td>Philippines</td>
                                </tr>
                                <tr>
                                    <th>Email: </th>
                                    <td><a href="mailto:developer@chiedimla.com" target="__blank">developer@chiedimla.com</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Certifications</h3>
                        <hr>
                        <img src="./assets/images/original sizes/UC-7FSWEH3Y.jpg" alt="Udemy certificate">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 dont-overlap">
            <div class="container">
                <div class="row post-cards skills-container">
                    <div class="col-sm-12 col-md-6 card-item">
                        <h3>Essential web developer skills</h3>
                        <hr>
                        <ul>
                            <li class="active">
                                PSD to HTML
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="100%" class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"><span class="sr-only">PSD to HTML</span></div>
                                </div>
                            </li>
                            <li class="active">
                                HTML
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">HTML</span></div>
                                </div>
                            </li>
                            <li class="active">
                                CSS
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">CSS</span></div>
                                </div>
                            </li>
                            <li class="active">
                                SASS
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">SASS</span></div>
                                </div>
                            </li>
                            <li class="active">
                                jQuery
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">jQuery</span></div>
                                </div>
                            </li>
                            <li class="active">
                                Bootstrap
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">Bootstrap 4</span></div>
                                </div>
                            </li>
                            <li class="active">
                                PHP
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="90%" class="progress-bar progress-bar-success" role="progressbar" style="width: 90%"><span class="sr-only">PHP (Object-Oriented Programming)</span></div>
                                </div>
                            </li>
                            <li class="active">
                                Git
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 card-item">
                        <h3>Latest</h3>
                        <hr>
                        <ul>
                            <li class="active">Laravel</li>
                            <li class="active">FileZilla</li>
                            <li class="active">CPanel</li>
                            <li class="silent">Luxsci</li>
                            <li class="active">Laragon</li>
                            <li class="active">JavaScript</li>
                            <li class="active">Node package manager</li>
                            <li class="silent">Yarn package manager</li>
                            <li class="silent">Tailwindcss</li>
                            <li class="silent">LESS</li>
                            <li class="active">Angular</li>
                            <li class="active">React JS</li>
                            <li class="active">API</li>
                            <li class="active">Node JS</li>
                        </ul>
                    </div>
                    <div class="col-md-12 card-item">
                        <h3>Coding Activity</h3>
                        <hr>
                        <iframe width="100%" height="500" src="https://wakatime.com/share/@cdf58d70-d6e8-428e-9931-e9cd333c4641/fac47cd5-bf01-44eb-9510-57d27a8e8705.svg"></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>