<div class="page-banner parallax-container center">
    <div class="parallax">
        <img alt="polygon-background" src="./assets/images/polygon_bg.jpg" style="transform: translate3d(-50%, 381.323px, 0px); opacity: 1;">
    </div>
    <img alt="" class="img-banner" src="./assets/images/banner.png" />
    <h1>{{title}}</h1>
    <p>Raycille "Chie" Dimla</p>
</div>
<div class="container page black-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="SVG-Logo display-picture-border center">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
                  <g id="Layer_2">
                    <circle fill="none" stroke="#000000" stroke-width="10" stroke-miterlimit="10" cx="361.781" cy="361.061" r="287.986"/>
                  </g>
                  <g id="Layer_3">
                    <path fill="none" stroke="#000000" stroke-width="11.2822" stroke-miterlimit="10" d="M685.691,361
                      c0,179.443-142.801,324.91-324.91,324.91c-179.443,0-324.91-145.467-324.91-324.91S181.338,36.09,360.781,36.09
                      S685.691,181.557,685.691,361z"/>
                  </g>
                </svg>
            </div>
            <div class="display-picture overlap">
                <img style="position: absolute;" src="./assets/images/display_picture.jpg" alt="Raycille Dimla">
            </div>
        </div>
        <div class="col-md-12">
            <div class="container overlap-half">
                <div class="row skills-container">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <h3>Essential skillset</h3>
                        <hr>
                        <ul>
                            <li class="active" title="Active">
                                PSD to HTML
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="100%" class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"><span class="sr-only">PSD to HTML</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                HTML
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">HTML</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                CSS
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">CSS</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                JavaScript
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="99%" class="progress-bar progress-bar-success" role="progressbar" style="width: 99%"><span class="sr-only">jQuery</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                PHP
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="90%" class="progress-bar progress-bar-success" role="progressbar" style="width: 90%"><span class="sr-only">PHP (Object-Oriented Programming)</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                MySQL
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="90%" class="progress-bar progress-bar-success" role="progressbar" style="width: 90%"><span class="sr-only">PHP (Object-Oriented Programming)</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Git
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Web design
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Bootstrap 4</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Domain server administration
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Web hosting administration
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Email hosting administration
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                            <li class="active" title="Active">
                                Technical SEO
                                <div class="progress" style="height:10px; margin:8px 0;">
                                    <div aria-valuemax="100%" aria-valuemin="0%" aria-valuenow="80%" class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"><span class="sr-only">Git</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <h3>Frameworks</h3>
                        <hr>
                        <ul>
                            <li class="silent" title="Inactive">Laravel</li>
                            <li class="active" title="Active">Angular</li>
                            <li class="active" title="Active">Bootstrap</li>
                            <li class="silent" title="Inactive">Tailwind CSS</li>
                        </ul>
                        <h3>Pre-processors</h3>
                        <hr>
                        <ul>
                            <li class="active" title="Active">Sass</li>
                            <li class="silent" title="Inactive">Less</li>
                        </ul>
                        <h3>Libraries</h3>
                        <hr>
                        <ul>
                            <li class="active" title="Active">jQuery</li>
                            <li class="silent" title="Inactive">jQuery UI</li>
                        </ul>
                        <h3>Environments</h3>
                        <hr>
                        <ul>
                            <li class="silent" title="Inactive">Adobe Dreamweaver</li>
                            <li class="silent" title="Inactive">Wamp</li>
                            <li class="active" title="Active">FileZilla</li>
                            <li class="active" title="Active">Laragon</li>
                            <li class="silent" title="Inactive">Sublime</li>
                            <li class="active" title="Active">Visual Studio Code</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <h3>Package managers</h3>
                        <hr>
                        <ul>
                            <li class="active" title="Active">Node</li>
                            <li class="active" title="Active">Yarn</li>
                        </ul>
                        <h3>I wanna learn</h3>
                        <hr>
                        <ul>
                            <li>Jest - JavaScript testing framework.</li>
                            <li>RESTful API - software architectural style.</li>
                            <li>TypeScript - programming language.</li>
                            <li>Node JS - JavaScript runtime environment.</li>
                            <li>React - JavaScript library.</li>
                            <li>GraphQL - data query and manipulation language for APIs.</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Certifications</h3>
                        <hr>
                        <p><a href="https://ude.my/UC-7FSWEH3Y" target="__blank"><img width="100%" src="./assets/images/original sizes/UC-7FSWEH3Y.jpg" alt="Udemy certificate"></a>
                        </p>
                        <p><a href="https://ude.my/UC-ac08c14b-a1ba-4324-832e-9397c2189c41" target="__blank"><img width="100%" src="./assets/images/original sizes/UC-ac08c14b-a1ba-4324-832e-9397c2189c41.jpg" alt="Udemy certificate"></a>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <h3>Coding Activity</h3>
                        <hr>
                        <!-- 30 days -->
                        <iframe width="100%" height="500" frameBorder="0" src="https://wakatime.com/share/@cdf58d70-d6e8-428e-9931-e9cd333c4641/4b4d39b2-3e27-469d-98be-ecb684e2f09b.svg"></iframe>
                        <!-- 7 days -->
                        <!-- <iframe width="100%" height="500" frameBorder="0" src="https://wakatime.com/share/@cdf58d70-d6e8-428e-9931-e9cd333c4641/d5277d26-00ef-4204-aa97-a2e9e54bfa8b.svg"></iframe> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>