<div class="container-fluid page white-bg">

  <div class="fixed-top-250">
    <iframe width="100%" height="250" src="https://musictools.chiedimla.com/scale-generator/" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container white-container">
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <h3>Guitar & Ukulele Scale Generator</h3>
        <p>Hi, welcome folks!</p>
        <p>Here's my first version of guitar & ukulele scale generator. I hope this tool can help you out generate the scales you desired.</p>
        <p>Thank you and have a blast! :)</p>
      </div>

      <div class="col-sm-12 col-md-6">
        <h4>Features</h4>
        <p>Two switches are available for you to navigate. The scales and notes switch. Scales switch, which will let you hide the complete set of notes for the currently selected scale and leave the 'glowing' set notes which are the notes you can use in constructing guitar/ukulele chord shape. Ie( Chord 'C' has the set of [C,E,G] notes you can use for the chord construction). Notes switch, which will let you show the complete notes from the frets regardless of the selected scale.</p>
        <p>Currently, this tool has 4 available filters :</p>
        <ol>
          <li>String Instruments <span>(<a href="https://en.wikipedia.org/wiki/Guitar">Guitar</a> and <a href="https://en.wikipedia.org/wiki/Ukulele">Ukulele</a>)</span></li>
          <li>Chords</li>
          <li><a href="https://en.wikipedia.org/wiki/Chord_names_and_symbols_(popular_music)#Chord_quality">Qualities</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Scale_(music)">Scales</a></li>
        </ol>
        <p>You can see the full scale details from the status bar at the bottom part of the virtual instrument.</p>
      </div>

    </div>
  </div>

</div>
