<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" custom-link-source="about">
    		<img src="public/views/header/img/logo.jpg" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a custom-link-source="about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Works <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Personal Projects</li>
            <li><a custom-link-source="simple_tabs_generator" custom-link-url="portfolio/public/views/content/simple_tabs_generator/index.html">Simple Tabs Generator</a></li>
            <li><a custom-link-source="simple_chord_generator" custom-link-url="portfolio/public/views/content/simple_chord_generator/index.html">Simple Chords Generator</a></li>
          </ul>
        </li>
        <li><a custom-link-source="playground">Playground</a></li>
      </ul>
    </div>
  </div>
</nav>