<div class="page-banner parallax-container">
  <div class="parallax">
     <img alt="polygon-background" src="./assets/images/polygon_bg.jpg" style="transform: translate3d(-50%, 381.323px, 0px); opacity: 1;">
  </div>
  <img alt="" class="img-banner" src="./assets/images/banner.png" />
  <h1 class="center">{{title}}</h1>
</div>
<div class="container page black-bg overlap">
  <div class="row">
     <div class="col-md-12 dont-overlap">
        <div class="tags"><code class="tag">Custom theme</code>, <code class="tag">Sass</code>, <code class="tag">PSD to HTML</code>, <code class="tag">Custom Post Types</code>, <code class="tag">Theme Settings</code></div>
        <div class="container">
           <div class="row post-cards">
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://pvgi.ph/" target="_blank">
                    <img alt="pvgi" src="./assets/images/cropped/PVGI.png">
                    <div class="overlay">
                       <div class="text">PVGI</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://vaztech.com.ph/" target="_blank">
                    <img alt="Vaztech" src="./assets/images/cropped/VAZTECH.png">
                    <div class="overlay">
                       <div class="text">Vaztech</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://rayomarine.com/" target="_blank">
                    <img alt="Rayomarine" src="./assets/images/cropped/RAYOMARINE.png">
                    <div class="overlay">
                       <div class="text">Rayomarine</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://www.cimtechnologies.com/" target="_blank">
                    <img alt="CIM" src="./assets/images/cropped/CIM.png">
                    <div class="overlay">
                       <div class="text">CIM</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://asukiscales.com.ph/" target="_blank">
                    <img alt="Asuki" src="./assets/images/cropped/ASUKI.png">
                    <div class="overlay">
                       <div class="text">Asuki Weighing Scale</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://diamondcover.com.au/" target="_blank">
                    <img alt="Diamond Cover" src="./assets/images/cropped/diamondcover_thumbnail_optimized.png">
                    <div class="overlay">
                       <div class="text">Diamond Cover</div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
        <div class="tags"><code class="tag">WordPress Page Builders</code>, <code class="tag">Divi</code>, <code class="tag">Beaver Builder</code>, <code class="tag">Woocommerce</code>, <code class="tag">Custom theme</code></div>
        <div class="container">
           <div class="row post-cards">
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://teagardenskombucha.com.au/" target="_blank">
                    <img alt="Asuki" src="./assets/images/cropped/TGK.png">
                    <div class="overlay">
                       <div class="text">Tea Gardens Kombucha</div>
                    </div>
                 </a>
              </div>
              <div class="col-sm-12 col-md-4 card-item">
                 <a href="https://www.renuvity.com/" target="_blank">
                    <img alt="Renuvity Spa" src="./assets/images/cropped/renuvity_thumbnail_optimized.jpg">
                    <div class="overlay">
                       <div class="text">Renuvity Spa</div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>