h1 {
  padding-top: 17px;
}
h2 {
  text-align: left;
  margin: 30px auto;
  color: rgba(250, 250, 250, 0.8);
  width: 100%;
  font-size: 1.5em;
}

h3 {
  margin: 30px auto;
  padding: 0 14px;
  font-size: 1em;
  color: #fafafa;
  font-weight: normal;
}

@media only screen and (max-width : 768px) {
  h2 {
    text-align: center;
  }
  h3 {
    color: #f0f0f0;
  }
}

.skills-container {
  margin: auto 15px;
  ul {
    list-style: none; /* Remove default bullets */
    li {
      &::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 1.5em;
        line-height: 1.5em;
      }
      &.active::before {
        color: #14ee14;
      }
      &.silent::before {
        color: rgba(255,255,255,.7);
      }
    }
  }
}

.post-cards {
  margin: auto;
  max-width: 1500px;
  .card-item {
    background-color: #000000;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    text-align: center;
    transition: .2s;
    -webkit-transition: .2s;
    @media only screen and (min-width : 769px) {
      &:last-child, 
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
    @media only screen and (max-width : 768px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      width: calc(100% - 30px);
      height: auto;
      margin: auto;
      transition: .5s ease;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: calc(100% - 30px);
      margin: auto;
      opacity: 0;
      transition: .5s ease;
      background-color: #2ACAEA;
    }
    &:hover{
      img {
          opacity: .5;
      }
      .overlay {
          opacity: .8;
      }
    }
    .text {
      color: white;
      font-size: .8em;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.LI-profile-badge {
  text-align: center;
  margin: 45px auto;
}

.overlap {
  margin-top: -100px;
  padding-top: 0;
}

.dont-overlap {
  margin-top: 100px;
}

@media only screen and (max-width : 768px) {
  h1 {
    padding-top: 0;
  }
  .dont-overlap,
  .overlap {
    margin-top: 0;
  }
}