<div class="page-banner parallax-container">
    <div class="parallax">
      <img src="/assets/images/polygon_bg.jpg" alt="polygon-background">
    </div>
    <img src="/assets/images/banner.png" alt="" class="img-banner">
    <h1>{{title}}</h1>
  </div>
  
  <img src="/assets/images/display_picture.png" alt="display-picture" class="display-picture">
  
  <div class="container page black-bg">
    <div class="row">
      <div class="col-md-4">
        <h2>SKILLS</h2>
        <div class="skills-container" >
          <p>HTML</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95%" aria-valuemin="0%" aria-valuemax="100%" style="width: 95%">
            <span class="sr-only">HTML</span>
            </div>
          </div>
  
          <p>CSS</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95%" aria-valuemin="0%" aria-valuemax="100%" style="width: 95%">
            <span class="sr-only">CSS</span>
            </div>
          </div>
  
          <p>SASS</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95%" aria-valuemin="0%" aria-valuemax="100%" style="width: 95%">
            <span class="sr-only">SASS</span>
            </div>
          </div>
  
          <p>Bootstrap 4</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95%" aria-valuemin="0%" aria-valuemax="100%" style="width: 95%">
            <span class="sr-only">Bootstrap 4</span>
            </div>
          </div>
  
          <p>WordPress</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80%" aria-valuemin="0%" aria-valuemax="100%" style="width: 80%">
            <span class="sr-only">WordPress</span>
            </div>
          </div>
  
          <p>PSD to HTML</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100%" aria-valuemin="0%" aria-valuemax="100%" style="width: 100%">
            <span class="sr-only">PSD to HTML</span>
            </div>
          </div>
  
          <p>Git</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60%" aria-valuemin="0%" aria-valuemax="100%" style="width: 60%">
            <span class="sr-only">Git</span>
            </div>
          </div>
  
          <p>PHP (Object-Oriented Programming)</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60%" aria-valuemin="0%" aria-valuemax="100%" style="width: 60%">
            <span class="sr-only">PHP (Object-Oriented Programming)</span>
            </div>
          </div>
  
          <p>Laravel5 (PHP framework)</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60%" aria-valuemin="0%" aria-valuemax="100%" style="width: 60%">
            <span class="sr-only">Laravel5 (PHP framework)</span>
            </div>
          </div>
  
          <p>jQuery</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60%" aria-valuemin="0%" aria-valuemax="100%" style="width: 60%">
            <span class="sr-only">jQuery</span>
            </div>
          </div>
  
          <p>CPanel</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50%" aria-valuemin="0%" aria-valuemax="100%" style="width: 50%">
              <span class="sr-only">CPanel</span>
            </div>
          </div>
  
          <p>Node Package Manager</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50%" aria-valuemin="0%" aria-valuemax="100%" style="width: 50%">
              <span class="sr-only">Node Package Manager</span>
            </div>
          </div>
  
          <p>Angular2</p>
          <div class="progress" style="height:10px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50%" aria-valuemin="0%" aria-valuemax="100%" style="width: 50%">
            <span class="sr-only">Angular2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>PROJECTS</h2>
        <div class="container">
          <div class="row post-cards">
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://teagardenskombucha.com.au/" target="_blank"><img src="assets/images/TGK.png" alt="Asuki" />
                <div class="overlay">
                  <div class="text">Tea Gardens Kombucha</div>
                </div>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://pvgi.ph/" target="_blank"><img src="assets/images/PVGI.png" alt="pvgi" />
                <div class="overlay">
                  <div class="text">PVGI</div>
                </div>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://vaztech.com.ph/" target="_blank"><img src="assets/images/VAZTECH.png" alt="Vaztech" />
                <div class="overlay">
                  <div class="text">Vaztech</div>
                </div>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://rayomarine.com/" target="_blank"><img src="assets/images/RAYOMARINE.png" alt="Rayomarine" />
                <div class="overlay">
                  <div class="text">Rayomarine</div>
                </div>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://www.cimtechnologies.com/" target="_blank"><img src="assets/images/CIM.png" alt="CIM" />
                <div class="overlay">
                  <div class="text">CIM</div>
                </div>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 card-item">
              <a href="https://asukiscales.com.ph/" target="_blank"><img src="assets/images/ASUKI.png" alt="Asuki" />
                <div class="overlay">
                  <div class="text">Asuki Weighing Scale</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>