#myiFrame {
    h2 {
        padding-top: 50px;
        text-align: center;
        margin: auto;
    }
    border: solid 5px #75E8FF;
    border-radius: 5px;
    margin: 3em auto 0; 
    width: 100%;
    overflow: hidden;
    -webkit-animation: 2s ease 0s normal forwards 1 elementFadeIn;
    animation: 2s ease 0s normal forwards 1 elementFadeIn;
}

@keyframes elementFadeIn{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes elementFadeIn{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}