<div class="page-banner parallax-container">
    <div class="parallax">
        <img alt="polygon-background" src="./assets/images/polygon_bg.jpg" style="transform: translate3d(-50%, 381.323px, 0px); opacity: 1;">
    </div>
    <img alt="" class="img-banner" src="./assets/images/banner.png" />
    <h1>{{title}}</h1>
    <p></p>
</div>
<div class="container page black-bg overlap">
    <div class="row">
        <div class="col-md-4 overlap">
            <div class="display-picture">
                <img src="./assets/images/display_picture.jpg" alt="Raycille Dimla">
            </div>
            <q>I keep doing things on the web. </q>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width: 40%;">Name: </th>
                                    <td>Raycille Dimla</td>
                                </tr>
                                <tr>
                                    <th>Location: </th>
                                    <td>Philippines</td>
                                </tr>
                                <tr>
                                    <th>Email: </th>
                                    <td><a href="mailto:developer@chiedimla.com" target="__blank">developer@chiedimla.com</a></td>
                                </tr>
                                <tr>
                                    <th>Social: </th>
                                    <td>
                                        <ul class="social-media">
                                            <li><a href="https://github.com/chiedev/" target="__blank" title="github"><i class="fab fa-github-square"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/raycille-dimla/" target="__blank" title="linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 dont-overlap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myiFrame">
                            <h2>I would like to be in touch with you!</h2>
                            <iframe src="https://www.powr.io/contact-form/u/6f58fce6_1594481573#platform=iframe" style="width:100%;" height="650px" frameborder="0"></iframe>
                            <!-- <iframe src="https://www.powr.io/contact-form/u/6f58fce6_1594481573#platform=iframe" style="width:100%;" height="626px" frameborder="0"></iframe> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>