<div class="page-banner parallax-container">
    <div class="parallax">
        <img alt="polygon-background" src="./assets/images/polygon_bg.jpg" style="transform: translate3d(-50%, 381.323px, 0px); opacity: 1;">
    </div>
    <img alt="" class="img-banner" src="./assets/images/banner.png" />
    <h1>{{title}}</h1>
    <p></p>
</div>
<div class="container page black-bg overlap">
    <div class="row">
        <div class="col-md-4">
            <div class="SVG-Logo display-picture-border left">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
                  <g id="Layer_2">
                    <circle fill="none" stroke="#000000" stroke-width="10" stroke-miterlimit="10" cx="361.781" cy="361.061" r="287.986"/>
                  </g>
                  <g id="Layer_3">
                    <path fill="none" stroke="#000000" stroke-width="11.2822" stroke-miterlimit="10" d="M685.691,361
                      c0,179.443-142.801,324.91-324.91,324.91c-179.443,0-324.91-145.467-324.91-324.91S181.338,36.09,360.781,36.09
                      S685.691,181.557,685.691,361z"/>
                  </g>
                </svg>
            </div>
            <div class="display-picture">
                <img style="position: absolute;" src="./assets/images/display_picture.jpg" alt="Raycille Dimla">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="min-width: 100px; text-align: right; line-height: 2em; padding-right: 10px; opacity: .5;">Devname : </th>
                                    <td>
                                        @chiedev
                                    </td>
                                </tr>
                                <tr>
                                    <th style="min-width: 100px; text-align: right; line-height: 2em; padding-right: 10px; opacity: .5;">Location : </th>
                                    <td>Manila, Philippines</td>
                                </tr>
                                <tr>
                                    <th style="min-width: 100px; text-align: right; line-height: 2em; padding-right: 10px; opacity: .5;">E-Mail : </th>
                                    <td><a href="mailto:developer@chiedimla.com" target="__blank">developer@chiedimla.com</a></td>
                                </tr>
                                <tr>
                                    <th style="min-width: 100px; text-align: right; line-height: 2em; padding-right: 10px; opacity: .5;">Find Me : </th>
                                    <td>
                                        <ul class="social-media">
                                            <li><a style="margin-left: -6px;" href="https://github.com/chiedev/" target="__blank" title="GitHub"><i class="fab fa-github-square"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/raycille-dimla/" target="__blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container dont-overlap">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myiFrame">
                            <h2>I would like to be in touch with you!</h2>
                            <iframe src="https://www.powr.io/contact-form/u/6f58fce6_1594481573#platform=iframe" style="width:100%;" height="650px" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>