<!-- navigation -->
<header id="main-header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" (click)="setTitle( 'Portfolio | Raycille Dimla' )" routerLink="/" routerLinkActive="active" title="Raycille Dimla">Raycille Dimla</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-ellipsis-v"></i></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarPrimary">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="setTitle( 'Works' )" routerLink="/wordpress-projects" routerLinkActive="active">Works</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Playground</a>
            <div class="dropdown-menu" aria-labelledby="menuDropdown">
              <span class="dropdown-header">Prototypes</span>
              <a class="dropdown-item" (click)="setTitle( 'Scale Generator' )" routerLink="/scale-generator" routerLinkActive="active">Scale Generator</a>
              <a class="dropdown-item" (click)="setTitle( 'Tabs Generator' )" routerLink="/tabs-generator" routerLinkActive="active">Tabs Generator</a>
              <a class="dropdown-item" (click)="setTitle( 'Chord Diagram Generator' )" routerLink="/chord-diagram-generator" routerLinkActive="active">Chord Diagram Generator</a>
              <span class="dropdown-header">More</span>
              <a class="dropdown-item" href="https://chiedev.github.io/javascript-beginners/" target="__blank">JavaScript for Beginners Guide</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="setTitle( 'About Me | Raycille Dimla' )" routerLink="/about" routerLinkActive="active">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="setTitle( 'Contact | Raycille Dimla' )" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <ul class="social-media">
          <li><a href="https://github.com/chiedev/" target="__blank" title="github"><i class="fab fa-github-square"></i></a></li>
        </ul>
      </div>
    </div>
  </nav><!-- end of navigation -->
</header>

<div id="main-content">
  <!-- <div class="loading">
    <div class="content"></div>
  </div> -->

  <router-outlet></router-outlet>
</div><!-- end of #main-content -->

<footer id="main-footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 left">
        <p><!-- More Links -->
          <a (click)="setTitle( 'Contact | Raycille Dimla' )" routerLink="/contact" routerLinkActive="active">Contact</a> | 
          <a (click)="setTitle( 'About Me | Raycille Dimla' )" routerLink="/about" routerLinkActive="active">Certifications</a> | 
          <a (click)="setTitle( 'Works' )" routerLink="/wordpress-projects" routerLinkActive="active">WordPress</a> | 
          <a href="https://omusiclab.com/" target="__blank" title="oMusic">oMusic Laboratory</a> |
          <a href="https://www.linkedin.com/in/raycille-dimla/" target="__blank" title="linkedin"><i class="fab fa-linkedin"></i></a>
          <!-- <a href="https://codepen.io/chiedev/" target="__blank" title="codepen"><i class="fab fa-codepen"></i></a> -->
          <br>
          Portfolio v.2.0.1 | 2020 © All Rights Reserved. Powered by Angular, GitHub Pages, WakaTime and POWr.
          <!-- Free website quotation? -->
          You may send me a message at <a href="mailto:developer@chiedimla.com" target="__blank">developer@chiedimla.com</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-6 right">
        <p>“Others inspire us, information feeds us, practice improves our performance, but we need quiet time to figure things out, to emerge with new discoveries, to unearth original answers.”
          ~ Ester Bucholz</p>
      </div>
    </div>
  </div>
</footer>
