<div class="parallax-container" style="height: unset;">
  <div class="parallax" style="position: relative;">
    <img src="/assets/images/bg.jpg" alt="parallax-background">
  </div>

  <div class="container page">
    <pre style="max-width: 300px; margin: auto; margin-bottom: 5%;">
    <img width="100%" style="" src="/assets/images/profile.png">

    Raycille Dimla
    | Female
    | Web Developer
    | Manila, Philippines

    Be classy with a little bit of hood and a lot of universe in you.

    </pre>

    <!-- <pre style="max-width: 300px; text-align: center; margin: auto;">
      UNDER CONSTRUCTION
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </pre> -->

  </div>

</div>
