#virtual_instrument{

}
#virtual_instrument .dropdown{
	float: left;
	max-width: 200px;
}
#virtual_instrument .switch{
	float: right;
	margin-bottom: 5px;
}
#virtual_instrument #instrument_fret-board{

}
#virtual_instrument #instrument_fret-board tbody tr:first-child{
	cursor: default;
}
#virtual_instrument #instrument_fret-board tbody .string{
	border: none;
}
#virtual_instrument #instrument_fret-board tbody .string th{
	background: #F9F9F9;
}
#virtual_instrument #instrument_fret-board tbody .string th.fret{
	border: none;
	z-index: 9999999;
	background: #FAFAFA;
	color: #190D00;
}
#virtual_instrument #instrument_fret-board tbody .string .fret{
	position: relative;
	background: #B28453;
	height: 30px;
	/*width: 15px;*/
	border: none;
	padding: 0;
	border-right: 2px solid #77593B;
}
#virtual_instrument #instrument_fret-board tbody .string .fret:first-child{
	background: #FAFAFA;
	text-align: center;
	width: 2%;
	border-right: solid 5px #77593B;
}
#virtual_instrument #instrument_fret-board tbody .string .fret:last-child{
	border: none;
	border-right: solid 2px #77593B;
}
#virtual_instrument #instrument_fret-board tbody .string .fret nav{
	position: absolute;
	border: none;
	padding: 0;
	margin: 0;
	width: calc(100% + 2px);
	box-shadow: 0px 1px 7px #77593B;
	z-index: 2;
}
#virtual_instrument #instrument_fret-board tbody .string .fret:first-child nav,
#virtual_instrument #instrument_fret-board tbody .string .fret:last-child nav{
	width: 100%;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="1"] nav.str_line{
	border-top: .5px solid #FAFAFA;
	border-bottom: .5px solid #77593B;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="2"] nav.str_line{
	border-top: 1px solid #FAFAFA;
	border-bottom: 1px solid #77593B;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="3"] nav.str_line{
	border-top: 1.5px solid #FAFAFA;
	border-bottom: 1.5px solid #77593B;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="4"] nav.str_line{
	border-top: 2px solid #FAFAFA;
	border-bottom: 2px solid #77593B;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="5"] nav.str_line{
	border-top: 2.5px solid #FAFAFA;
	border-bottom: 2.5px solid #77593B;
}
#virtual_instrument #instrument_fret-board td[data-x-axis="6"] nav.str_line{
	border-top: 3px solid #FAFAFA;
	border-bottom: 3px solid #77593B;
}
#virtual_instrument #instrument_fret-board tbody .string .fret:hover{
	cursor: pointer;
}
#virtual_instrument #instrument_fret-board tbody .string .fret:hover nav{
	box-shadow: 0 -2px 15px yellow;
}
#virtual_instrument #instrument_fret-board tbody .string .fret .fret_mark{
	position: absolute;
	border-radius: 99px;
	background: #999;
	border: thin solid silver;
	width: 15px;
	height: 15px;
	top: 0;
	margin-left: calc(50% - 9px);
	margin-top: 22.5px;
	z-index: 1;
}
#virtual_instrument #instrument_fret-board tbody .string .fret .scale_point,
#virtual_instrument #instrument_fret-board tbody .string .fret .note_point{
	position: absolute; 
	padding: 0px; 
	margin: -9px calc(50% - 10px) 0px; 
	width: 0px; 
	height: 0px; 
	border-radius: 999px; 
	z-index: 3; 
	border: 10px solid #139910; /*green*/
	box-shadow: 1px 1px 1px #333;
	border: 10px solid #333;
}
#virtual_instrument #instrument_fret-board tbody .string th.fret .scale_point,
#virtual_instrument #instrument_fret-board tbody .string th.fret .note_point{
	margin: -15px calc(50% - 10px) 0px; 
}
#virtual_instrument #instrument_fret-board tbody .string .fret .scale_point{
	/*border: 10px solid #f78c00; orange*/
	/*border: 10px solid #DB4A72; /*pink*/
	/*border: 10px solid #FCE74B; /*yellow*/
	border: 10px solid #FF7C7C; /*pomelo*/
	box-shadow: 1px 1px 1px #333;
	z-index: 4; 
	/*border: 10px solid #333; */
	/*box-shadow: 1px 1px 1px #999;*/
}
#virtual_instrument #instrument_fret-board tbody .string .fret .note_name{
	position: absolute; 
	top: 0; bottom: 0; right: 0; left: 0; 
	margin:auto; 
	width: auto; 
	height: 8px; 
	color: #FAFAFA; 
	text-align: center;
	font-size: 9px;
	vertical-align: baseline;
	z-index: 5;
}
#virtual_instrument > .statusbar{
	background: #999;
	padding: 2px;
	text-align: right;
	font-family: Arial;
	height: 12px;
}
#virtual_instrument > .statusbar > span{
	margin: 0 5px;
}
#virtual_instrument > .statusbar > span > label{
	text-transform: lowercase;
	color: #111;
	font-size: 11px;
	font-weight: bold;
}
/*--------------------------THEMES---------------------------*/

#virtual_instrument #instrument_fret-board.black tbody .string .fret{
	background: #444444;
	border-right: 2px solid #FAFAFA;
}
#virtual_instrument #instrument_fret-board.black tbody .string .fret:first-child{
	background: #FAFAFA;
	border-right: solid 5px #FAFAFA;
}
#virtual_instrument #instrument_fret-board.black tbody .string .fret:last-child{
	border-right: solid 2px #FAFAFA;
}
#virtual_instrument #instrument_fret-board.black tbody .string .fret nav{
	box-shadow: 0px 1px 7px #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="1"] nav.str_line{
	border-bottom: .5px solid #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="2"] nav.str_line{
	border-bottom: 1px solid #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="3"] nav.str_line{
	border-bottom: 1.5px solid #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="4"] nav.str_line{
	border-bottom: 2px solid #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="5"] nav.str_line{
	border-bottom: 2.5px solid #333333;
}
#virtual_instrument #instrument_fret-board.black td[data-x-axis="6"] nav.str_line{
	border-bottom: 3px solid #333333;
}
#virtual_instrument #instrument_fret-board.black tbody .string .fret:hover nav{
	box-shadow: 0 -2px 15px yellow;
}
#tabs-generator{
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	padding: 30px;
	text-align: left;
}
#tabs-generator .staff{
	width: calc(100% - 10px);
	display: block;
	padding: 0 0 10px;
	resize: none;
	border: none;
	background: #555555;
	font-weight: bold;
	color: white;
	/*COPIED FROM ULTI GUITAR*/
	font: 13px Courier New,Courier,monospace;
}
#tabs-generator .staff .lyrics{
	font-size: 14px;
}